@use "../../styles/variables" as variables;
@use "../../styles/transitions" as transitions;
@use "../../styles/theme" as theme;

$menu-item-height: 26px;
$content-item-height: 40px;
$content-column-width: 100px;
$content-column-title-width: 150px;

.categories__wrapper {
  .explorer-container {
    .left-menu {
      transition: transitions.$fast;
      border-width: 0 3px 0 0;
      border-radius: 12px 0 0 12px;

      .expander {
        display: grid;
        place-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -2em;
        width: 4em;
        height: 4em;
        background-color: rgba(theme.$backgroundColor, 0.7);
        border-radius: 100%;
        z-index: 105 !important;
        cursor: pointer;
        display: none;
      }

      .draggable {
        width: 20px;
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        z-index: 100;

        &:hover {
          cursor: ew-resize;
        }
      }

      .item-container {
        border-radius: 12px 0 0 12px;

        .item {
          border-left: 1px solid theme.$Grey;
          padding: variables.$s-padding;
          margin-left: variables.$m-padding;
          transition: transitions.$fast;
          cursor: pointer;
          min-height: $menu-item-height;
          color: white;
          animation: 300ms ease-out 0s 1 onload;
          width: 100%;

          svg {
            margin-right: variables.$ss-margin;
          }

          &:hover {
            color: theme.$primary;
          }

          &:first-child {
            border: none;
            color: theme.$primaryLight;
            cursor: default;
            margin-left: variables.$s-padding !important;

            i {
              align-self: flex-end;
              font-size: 14px;
              cursor: pointer;

              &:hover {
                color: theme.$primary;
              }
            }
          }

          &.active {
            color: theme.$primaryLight;
          }
        }

        @keyframes onload {
          0% {
            transform: translate(-20px);
            opacity: 0;
          }

          100% {
            transform: translate(0px);
            opacity: 1;
          }
        }
      }
    }

    .content__wrapper {
      padding: variables.$m-padding;
      background-color: theme.$altBackgroundColorLight;
      border-radius: 0 12px 12px 0;
      min-width: 50px;
      flex: 9;
      position: relative;
    }

    .expand {
      width: 80vw !important;
    }
  }
}

@media screen and (max-width: variables.$medium-resolution) {
  .categories__wrapper {
    .explorer-container {
      width: variables.$small-resolution;
    }
  }
}

@media screen and (max-width: variables.$small-resolution) {
  .categories__wrapper {
    height: calc(100vh - variables.$top-menu-height-mobile);

    .explorer-container {
      width: 100%;
      height: 100%;

      .left-menu {
        border-radius: 0;
        width: 10%;

        .expander {
          display: grid;
        }

        .draggable {
          display: none;
        }

        .item {
          font-size: larger;
        }

        .item-container {
          border-radius: 0;
        }
      }

      .content__wrapper {
        border-radius: 0;
      }
    }
  }
}

@media screen and (max-width: variables.$mobile-resolution) {
  .categories__wrapper {
    height: 100%;
  }
}