@use "../../styles/variables" as variables;

.interface__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  height: clamp(100vh, 100vh, 100vh);
  width: 100%;

  .main__wrapper {
    width: 100%;
    height: calc(100% - variables.$top-menu-height);
    overflow-x: hidden;
    overflow-y: auto;
    transition: 1s ease-in-out;
    z-index: 10;
    transition: 300ms;
  }

  .bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0;
    width: 110vw;
    color: var(--SharkDark);
    z-index: 5;
  }

  .bottom-wave>svg {
    width: Calc(100% + 40px);
    height: 100%;
    transform: translateY(3px);
    display: inline-block;
  }
}

@media screen and (max-width: variables.$small-resolution) {
  .interface__wrapper {
    position: relative;
    flex-wrap: nowrap;

    .main__wrapper {
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: variables.$mobile-resolution) {
  .interface__wrapper {
    .main__wrapper {
      padding-top: variables.$top-menu-height-mobile;
    }
  }
}