@use "../../styles/variables" as variables;
@use "../../styles/transitions" as transitions;
@use "../../styles/theme" as theme;

.notifications-component>.notification-container--top-right {
  top: 80px !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.enter-animation {
  animation-name: showContent;
  animation-duration: 500ms;
}

.hide-overflow {
  overflow-y: hidden !important;
}

@keyframes showContent {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}