@use "../../styles/theme" as theme;
@use "../../styles/variables" as variables;

$border-radius: 15px;

.legal-notice-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding: 2em;
    gap: 2em;

    .legal-notice {
        width: variables.$medium-resolution;
        padding: 1px;
        border-radius: $border-radius;
        background-color: theme.$altBackgroundColor;
    }

    .nav-button {
        width: 200px;
        color: white;

        &:hover {
            color: white;
        }
    }
}

.wmde-markdown {
    font-family: 'Fira Mono', monospace;
    background-color: theme.$altBackgroundColor;
    border-radius: $border-radius;
    padding: 1em;
}

@media screen and (max-width: variables.$medium-resolution) {
    .legal-notice-container {
        .legal-notice {
            width: 90vw;
        }
    }
}

@media screen and (max-width: variables.$small-resolution) {
    .legal-notice-container {
        padding: 1em 0;

        .legal-notice {
            width: 100%;
            border-radius: 0;
        }
    }

    .wmde-markdown {
        border-radius: 0;
    }
}