@use "../../styles/theme" as theme;
@use "../../styles/variables" as variables;

$border-radius: 15px;

.wmde-markdown {
    font-family: 'Fira Mono', monospace;
    background-color: theme.$altBackgroundColor;
    border-radius: $border-radius;
    padding: 1em;
}