// Resolutions
$medium-resolution: 1024px;
$small-resolution: 768px;
$mobile-resolution: 425px;

// Common values
$ss-margin: 5px;
$s-margin: 0.5rem;
$m-margin: 2rem;
$b-margin: 4rem;

$s-padding: 5px;
$m-padding: 10px;
$b-padding: 15px;
$l-padding: 4rem;
$h-padding: 8rem;

// Sizes
// top menu
$top-menu-height-mobile: 64px;
$top-menu-width-mobile: 100%;

$top-menu-height: 64px;
$top-menu-width: 100%;

$top-menu-icon-width: 240px;

// side menu
$side-menu-height: 64px;
$side-menu-width: $top-menu-icon-width;

// entry sizes
$entry-info-height: 64px;
