// Resolutions
$medium-resolution: 768px;
$small-resolution: 425px;

// Common values
$small-margin: 1em;
$medium-margin: 2em;
$big-margin: 4em;

// Sizes
$top-menu-height-mobile: 64px;
$top-menu-width-mobile: 100%;

$top-menu-height: 64px;
$top-menu-width: 100%;

$top-menu-icon-width: 240px;

$side-menu-height: 64px;
$side-menu-width: 250px;
