.homepage__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    height: 100%;
}

.homepage__container .entry {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-width: 200px;
    max-width: 300px;
    height: 250px;
    margin: 1rem;
    background-color: var(--Shark);
    border-radius: 10px;
}

.homepage__container .entry > div {
    margin-top: 5px;
}

.homepage__container .entry .entry-image {
    font-size: xx-large;
    color: var(--Rose);
}

.homepage__container .entry .entry-name {
    font-size: large;
    color: var(--Gold);
}

.homepage__container .entry .entry-category {
    font-size: medium;
}