.homepage__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    min-height: 100%;
}

.homepage__container .entry {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-width: 200px;
    max-width: 300px; 
    height: 250px;
    margin: 1rem;
    background-color: var(--Shark);
    border-radius: 10px;
    transition: 200ms ease-in-out;
}

.homepage__container .entry:hover {
    transform: scale(1.1);
}

.homepage__container .entry > div {
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    font-size: medium;
}

.homepage__container .entry .entry-image {
    font-size: xx-large;
    color: var(--Rose);
    text-align: center;
}

.homepage__container .entry .entry-name {
    font-size: x-large;
    text-align: center;
    color: var(--Gold);
}

.homepage__container .entry .entry-category {
}