.homepage__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
}

.homepage__container .entry {
    z-index: 11;
    flex: 1 1 auto;
    min-width: 250px;
    max-width: 300px;
    height: 200px;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--Shark);
    border-radius: 10px;
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.homepage__container .entry:hover {
    transform: scale(1.05);
}

.homepage__container .entry > div {

}

.homepage__container .entry .entry-image {
    font-size: xx-large;
    color: var(--Rose);
}

.homepage__container .entry .entry-name {
    font-size: large;
    width: 100%;
    text-align: center;
    color: var(--Gold);
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.homepage__container .entry .entry-category {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 425px) {
    
}