/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--MainBg);
border-radius: 10px;
/* margin: 1em; */
}

/* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
background: var(--Grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--Rose);
}