@use "../../styles/theme" as theme;
@use '../../styles/variables' as variables;

$user-panel-width: variables.$medium-resolution;
$user-card-width: 250px;
$user-card-border-radius: 15px;
$content-width: calc(100% - $user-card-width - 1em);
$content-menu-width: 192px;
$content-page-width: calc(100% - $content-menu-width);

.user-panel-container {
    .active {
        color: theme.$primaryLight;
    }

    .panel {
        position: relative;
        width: 100%;
        padding: 1em;
        border: 1px solid theme.$primary;
        border-radius: 10px;
        font-size: medium;
        animation-name: showContent;
        animation-duration: 500ms;

        &:not(:first-child) {
            margin-top: 1.5em;
        }

        .panel-name {
            font-size: large;
            position: absolute;
            top: -10px;
            left: 20px;
            background-color: theme.$altBackgroundColor;
            padding: 0 5px;
        }

        .block {
            display: flex;
            padding: 5px;
            gap: 0.5em;

            .key {
                color: theme.$primaryLight;
            }
        }

        .input-block {
            display: flex;
            flex-direction: column;
            gap: 0.5em;

            .input {
                flex: 1;
            }

            &:not(:first-child) {
                margin-top: 0.5em;
            }
        }

        .action-button {
            color: #FFF;

            &:not(:first-child) {
                margin-top: 0.5em;
            }
        }

        .action-buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            max-width: 100%;
            margin-top: 1em;
            gap: 1em;

            .item {
                font-size: medium;
            }

            .accept {
                color: theme.$primaryLight;
            }

            .cancel {
                color: theme.$secondary;
            }
        }
    }
}

@keyframes showContent {
    from {
        opacity: 0;
        transform: translate(-10px, 0);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@media screen and (max-width: variables.$medium-resolution) {
    .user-panel-container {
        .panel {
            .block {
                margin-bottom: 0.5em;
                flex-direction: column;
            }
        }
    }
}