@use "../../styles/theme" as theme;

.user-panel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .user-panel {
        display: flex;
        flex-direction: row;
        gap: 1em;
        width: 1024px;
        padding-top: 2em;

        .user-card {
            $border-width: 15px;
            flex: 1;
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 300px;
            border-radius: $border-width;
            border-width: 3px;

            &>* {
                padding: 10px;
                background-color: theme.$altBackgroundColor;
            }

            & div:first-child {
                border-radius: $border-width $border-width 0 0;
            }

            & div:last-child {
                border-radius: 0 0 $border-width $border-width;
            }

            .avatar {
                width: 100%;
                min-height: 200px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    border: 2px solid #FFF;
                }
            }

            .username {
                text-align: center;
                font-weight: bold;
                font-size: larger;
                letter-spacing: 0.7px;
            }

            .badges {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .badge {
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }

        .content {
            flex: 3;
            background-color: theme.$altBackgroundColor;
            border-radius: 15px;
            display: flex;
            flex-direction: row;

            .menu {
                display: flex;
                flex-direction: column;
                padding: 1em;
                border-right: 2px solid theme.$primary;
                min-width: 200px;
                max-width: 200px;

                .item:not(:first-child) {
                    margin-top: 0.5em;

                    &:hover {
                        color: theme.$primary;
                    }
                }

                .active {
                    color: theme.$primaryLight;
                }
            }

            .content-page {
                width: 100%;
                margin: 1em;
                position: relative;

                .panel {
                    border: 1px solid theme.$primary;
                    border-radius: 10px;
                    width: 100%;
                    padding: 1em;
                    position: relative;
                    margin-bottom: 1.5em;
                    font-size: medium;

                    .panel-name {
                        font-size: large;
                        position: absolute;
                        top: -10px;
                        left: 20px;
                        background-color: theme.$altBackgroundColor;
                        padding: 0 5px;
                    }

                    .block {
                        padding: 5px;

                        .key {
                            color: theme.$primaryLight;
                        }
                    }

                    .action-button {
                        margin: 0.5em;
                        color: #FFF;
                    }
                }
            }
        }
    }
}