@use "../../styles/variables" as variables;
@use "../../styles/theme" as theme;

.basic-modal {
  .menu {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: variables.$s-margin;

    .item {
      margin: variables.$s-margin;
      flex: 1;
      max-width: 128px;
    }
  }

  .content {
    width: 100%;

    .block {
      max-width: 100%;
      padding: 10px;
      margin: variables.$s-margin;
      background-color: theme.$MainBackground;
      border-radius: 5px;
      display: flex;
    }

    .field-name {
      margin: variables.$s-margin;
      padding: variables.$s-padding;
    }

    .title {
      color: theme.$SpecialText;
    }
  }

  .vertical {
    flex-direction: column;
  }

  .horizontal {
    flex-direction: row;
  }

  .center {
    justify-content: center;
  }
}