@use "./theme" as theme;

// animated
$linear-gradient-bottom-top: linear-gradient(
  to bottom,
  theme.$ButtonPrimary 50%,
  theme.$ButtonAccent 50%
) !important;

// basic transition
$fast: 200ms ease-out;
$default: 300ms ease-out;
$medium: 400ms ease-out;
