// Resolutions
$high-resolution: 1440px;
$medium-resolution: 1024px; // lg
$small-resolution: 768px; // md
$mobile-resolution: 425px;
$read-width: 724px;

// Common values
$ss-margin: 5px;
$s-margin: 0.5rem;
$m-margin: 2rem;
$b-margin: 4rem;

$s-padding: 5px;
$m-padding: 10px;
$b-padding: 15px;
$l-padding: 4rem;
$h-padding: 8rem;

// Sizes
// top menu
$top-menu-height-mobile: 64px;
$top-menu-width-mobile: 100%;

$top-menu-height: 64px;
$top-menu-width: 100%;

$entry-info-height: 64px;