@use "../../styles/variables" as variables;
@use "../../styles/transitions" as transitions;
@use "../../styles/theme" as theme;

$entry-width: 300px;
$entry-height: 200px;

.homepage__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  margin: auto;
  padding: variables.$l-padding variables.$h-padding;

  a:hover {
    color: theme.$text-color;
  }

  .entry {
    flex: 1 1 auto;
    min-width: $entry-width;
    max-width: $entry-width;
    height: $entry-height;
    margin: 1rem;
    cursor: pointer;
    background-color: theme.$alternate-background-color;
    border-radius: 10px;
    transition: 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: variables.$m-padding;
    color: theme.$text-color;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px theme.$accent2;

      .name,
      .information .line:first-child {
        color: theme.$accent2;
      }
    }

    .image {
      font-size: xx-large;
      color: theme.$accent2;
    }

    .name {
      font-size: large;
      width: 100%;
      text-align: center;
      color: theme.$accent;
      padding: 10px;
      font-weight: bold;
      letter-spacing: 0.6px;
      min-height: 2.5em;
      transition: 200ms ease-in-out;
    }

    .information {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .line {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transition: 200ms ease-in-out;

        .item {
          width: 40%;
        }

        &:first-child {
          color: theme.$accent;
        }
      }

      .right {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: variables.$medium-resolution) {
  .homepage__container {
    padding: variables.$l-padding;

    .entry {
      .information {
        font-size: small;
      }
    }
  }
}