@use "../../../styles/theme" as theme;

.panel {
    .logs-container {
        display: flex;
        flex-direction: column;

        .log {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0.5em;

            &:not(:last-child) {
                border-bottom: 1px solid theme.$primary;
            }

            .log-dic {
                display: flex;
                flex-direction: row;
                font-size: 0.9em;
                gap: 0.5em;

                .log-key {
                    flex: 2;
                    color: theme.$primaryLight;
                }

                .log-value {
                    flex: 4;
                }
            }
        }
    }

    .active {
        color: theme.$primaryLight;
    }
}