@use "../../../styles/theme" as theme;
@use "../../../styles/variables" as variables;

$logs-container-heigh: 100%;

.panel {
  .logs-container {
    display: flex;
    flex-direction: column;
    min-height: calc($logs-container-heigh);
    overflow-y: auto;
    gap: 1em;

    .log {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.5em;

      &:not(:last-child) {
        border-bottom: 1px solid theme.$primary;
      }

      .log-dic {
        display: flex;
        flex-direction: row;
        font-size: 0.9em;
        gap: 0.5em;

        .log-key {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          flex: 2;
          color: theme.$primaryLight;
        }

        .log-value {
          flex: 4;
        }
      }
    }
  }

  .active {
    color: theme.$primaryLight;
  }
}

@media screen and (max-width: variables.$small-resolution) {
  .panel {
    .logs-container {
      min-height: auto;

      .log {
        .log-dic {
          margin-top: 0.5em;
          flex-direction: column;
          gap: 5px;
        }
      }
    }
  }
}
