@use "../../../styles/theme" as theme;
@use "../../../styles/variables" as variables;

$gapSize: 1em;
$avatarSize: 72px;
$user-size: 156px;
$container-height: calc(4 * ($gapSize + $user-size));

.user-management-container {
    display: flex;
    flex-direction: column;
    gap: $gapSize;

    .users {
        display: flex;
        flex-direction: column;
        gap: $gapSize;
        max-height: $container-height;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;

        .user {
            display: flex;
            background-color: theme.$backgroundColor;
            padding: 1em;
            align-items: center;
            border-radius: 10px;
            width: 100%;
            gap: $gapSize;
            transition: 200ms;
            flex-shrink: 0;
            height: clamp($user-size, $user-size, $user-size);

            &:hover {
                cursor: pointer;
                background-color: theme.$backgroundColorLight;
            }

            .avatar {
                display: grid;
                place-items: center;
                width: clamp($avatarSize, $avatarSize, $avatarSize);
                height: clamp($avatarSize, $avatarSize , $avatarSize);

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }

            .user-info {
                display: flex;
                flex-direction: column;
                width: calc(100% - $avatarSize - $gapSize);

                .row {
                    display: flex;
                    width: 100%;
                    margin-bottom: 0.5em;
                    gap: $gapSize;
                }

                .account-detail-long {
                    flex: 3 0;
                }

                .account-detail {
                    flex: 1 0;
                }

                .account-size {
                    color: theme.$secondaryLight;
                }

                .username {
                    font-weight: bolder;
                    font-size: 1.2em;
                    -webkit-text-fill-color: transparent;
                    background: linear-gradient(90deg,
                            theme.$secondaryLight,
                            theme.$secondary 70%);
                    -webkit-background-clip: text;
                    white-space: nowrap;
                }

                .badges {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: $gapSize;

                    .badge {
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}