@use "styles/theme" as theme;
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-smooth: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

code {
  font-family: 'Fira Mono', monospace;
}

abbr[title] {
  text-decoration: none;
}

svg {
  display: inline;
  vertical-align: baseline;
}

.border-gradient {
  border: double 4px transparent;
  background-image: linear-gradient(to right, theme.$neutralDarker, theme.$primary), linear-gradient(to right, theme.$neutralDarker, theme.$primary);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 10px;
}

.border-gradient-bottom {
  border: double 4px transparent;
  background-image: linear-gradient(to bottom, theme.$neutralDarker, theme.$primary), linear-gradient(to bottom, theme.$neutralDarker, theme.$primary);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 10px;
}

.mts-input {
  padding: 10px;
  border-radius: 5px;
  background-color: theme.$altBackgroundColorLight;
  border: 1px solid transparent;
  transition: 300ms;

  &:hover {
    border: 1px solid theme.$secondary;
  }

  &:focus {
    border: 1px solid theme.$neutralDarker;
  }
}

.mts-button {
  display: grid;
  place-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: theme.$altBackgroundColorLight;
  transition: 300ms;
  font-weight: bold;
  font-size: large;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.gradient-background-l {
  background-image: linear-gradient(to left, theme.$neutralDarker, theme.$secondaryLight);
}

.gradient-background-r {
  background-image: linear-gradient(to right, theme.$neutralDarker, theme.$secondaryLight);
}

$switch-base-width: 60px;
$switch-base-height: 30px;

.switch-s {
  $width: $switch-base-width / 1.5;
  $height: $switch-base-height / 1.5;
  width: clamp($width, $width, $width);
  height: clamp($height, $height, $height);

  .slider {
    border-radius: $height;

    &::before {
      border-radius: $height;
      transform: translateX(-$height);
    }
  }

  input:checked+.slider:before {
    transform: translateX($height);
    background-color: theme.$primaryLight;
  }

  input:checked+.slider {
    box-shadow: 0 0 0 2px theme.$primaryLight, 0 0 8px theme.$primaryLight;
  }
}

.switch-m {
  width: clamp($switch-base-width, $switch-base-width, $switch-base-width);
  height: clamp($switch-base-height, $switch-base-height, $switch-base-height);

  .slider {
    border-radius: $switch-base-height;

    &::before {
      border-radius: $switch-base-height;
      transform: translateX(-$switch-base-height);
    }
  }

  input:checked+.slider:before {
    transform: translateX($switch-base-height);
    background-color: theme.$primaryLight;
  }

  input:checked+.slider {
    box-shadow: 0 0 0 2px theme.$primaryLight, 0 0 8px theme.$primaryLight;
  }
}

.switch {
  margin-right: 1em;
  position: relative;
  flex-shrink: 0;

  .slider {
    position: absolute;
    inset: 0;
    box-shadow: 0 0 0 2px theme.$textPassive, 0 0 4px theme.$textPassive;
    cursor: pointer;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.2s;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: theme.$textPassive;
      transition: 0.2s;
    }
  }

  input {
    display: none;
  }
}