@use "../../styles/theme" as theme;
@use "../../styles/variables" as variables;

$border-radius: 15px;
$user-card-width: 250px;
$user-card-border-radius: 15px;
$container-gap: 2em;
$container-padding: 2em;
$offset: 2em;
$entry-padding: 2em;
$entry-width: calc(variables.$read-width + $entry-padding);

.public-entry-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    min-height: 100%;
    padding: $container-padding;
    gap: $container-gap;

    .not-found {
        min-height: 100%;
        display: grid;
        place-items: center;
        font-size: 48px;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .element {
        flex: 1 0;
        display: flex;
        justify-content: center;
    }

    .element-owner {
        justify-content: flex-end;
    }

    .owner {
        display: flex;
        flex-direction: column;
        width: clamp($user-card-width, $user-card-width, $user-card-width);
        height: fit-content;
        border-radius: $user-card-border-radius;
        background-color: theme.$altBackgroundColor;
        padding: 10px;
        gap: 1em;

        .avatar {
            width: 100%;
            height: clamp($user-card-width, $user-card-width, $user-card-width);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                border: 2px solid #FFF;
            }
        }

        .items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.5em;

            .prop {
                display: flex;
                flex-direction: row;
                gap: 1ch;

                .key {
                    color: theme.$secondaryLight;
                    flex: 1 0;
                }

                .value {
                    flex: 1 0;
                }
            }
        }
    }

    .public-entry {
        width: $entry-width;
        border-radius: $border-radius;
        background-color: theme.$altBackgroundColor;
        height: fit-content;

        .content {
            border-radius: $border-radius;
            background-color: theme.$altBackgroundColor;
            padding: $entry-padding;
            width: 100%;
        }
    }
}

.wmde-markdown {
    font-family: 'Fira Mono', monospace;
    background-color: theme.$altBackgroundColor !important;
    border-radius: $border-radius;
    padding: 1em;
}

$avatar-width: 60px;
$owner-height: 100px;
$prop-width: 120px;
$query-break: calc($user-card-width + $container-gap + $entry-width + $container-padding + $offset);

@media screen and (max-width: $query-break) {
    .public-entry-container {
        flex-direction: column;
        justify-content: unset;

        .owner {
            flex-direction: row;
            height: clamp($owner-height, $owner-height, $owner-height);
            width: 100%;
            align-items: center;

            .avatar {
                flex: 0 0 $avatar-width;
                height: clamp($avatar-width, $avatar-width, $avatar-width);
            }

            .items {
                height: 100%;
                width: calc(100% - $avatar-width - $container-gap);
                flex-wrap: wrap;
                justify-content: center;

                .prop {
                    flex-direction: column;
                    width: $prop-width;

                    .value {
                        width: $prop-width;
                    }
                }
            }
        }

        .element-owner {
            justify-content: flex-start;
            flex: 0 0 100%;
        }

        .public-entry {
            width: 100%;

            .content {
                padding: 10px;
            }
        }
    }
}

@media screen and (max-width: variables.$small-resolution) {
    .public-entry-container {
        padding: 0;
        gap: 0;

        .owner {
            border-radius: 0;
        }

        .public-entry {
            border-radius: 0;
        }

        .desk {
            display: none !important;
        }
    }

    .wmde-markdown {
        border-radius: 0;
        overflow-x: auto;
    }
}

@media screen and (max-width: variables.$mobile-resolution) {
    .public-entry-container {
        .owner {
            font-size: small;

            .items {
                .prop {
                    width: $prop-width / 1.5;
                }
            }
        }
    }
}