.dropdown-menu {
  position: relative;
  font-weight: bold;
  font-size: larger;
  letter-spacing: 0.5px;
  background-color: var(--Shark);
  border-radius: 5px;
  text-align: center;
  width: 128px;
  cursor: context-menu;
}

.dropdown-menu:hover {
  border-radius: 5px 5px 0 0;
}

.dropdown-menu:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-menu .dropdown-button {
  padding: 10px;
}

.dropdown-menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--Shark);
  border-radius: 0 0 5px 5px;
  left: 0;
  max-width: 100%;
  transition: 300ms;
  width: 128px;
}

.dropdown-menu .dropdown-content .dropdown-option {
  margin: 0.5rem 0;
  padding: 10px;
  transition: 300ms;
}

.dropdown-menu .dropdown-content .dropdown-option:hover {
  background-color: var(--Rose);
  cursor: pointer;
}
