.interface__wrapper {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main__wrapper {
  width: Calc(100vw - 250px);
  position: absolute;
  left: 240px;
  top: 64px;
  height: Calc(100% - 64px);
  overflow: hidden;
  overflow-y: auto;
  transition: 1s ease-in-out;
  z-index: 10;
  transform: 200ms;
}

.interface__wrapper .expanded {
  width: calc(100vw);
  left: 0;
}

.main__wrapper > * {
  z-index: 11;
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  width: 110vw;
  color: var(--SharkDark);
  z-index: 5;
}

.bottom-wave > svg {
  width: Calc(100% + 40px);
  height: 100%;
  transform: translateY(3px); /* for some reason */
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .interface__wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  .main__wrapper {
    width: 100%;
    display: block;
    position: static;
    height: auto;
    margin-top: 64px;
  }
}

@media screen and (max-width: 425px) {
}
