@use "../../../../styles/variables" as variables;
@use "../../../../styles/transitions" as transitions;

.nav-top-mobile {
  height: 100vh;
  width: 100%;
  background-color: var(--SharkDark);
  z-index: 999;
  display: flex;
  overflow: hidden;
  overflow-y: auto;
  flex-direction: column;
  position: fixed;
  top: 0;
  transition: transitions.$default;

  .icon {
    display: flex;
    width: 100%;
    height: variables.$top-menu-height-mobile;
    padding: 10px;

    img {
      width: 60px;
      margin-left: 1em;
    }
  }

  .open {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;

    .active {
      background-color: var(--Rose) !important;
    }

    .item {
      height: 70px;
      width: 100%;
      padding: 10px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: xx-large;
      font-weight: bold;
      letter-spacing: 1px;
      transition: transitions.$fast;
      margin-bottom: 15px;
      color: white;

      &:hover {
        transform: scale(1.1);
        background-color: var(--Shark);
      }
    }
  }
}

.mobile-hide {
  height: variables.$top-menu-height-mobile;
  overflow-y: hidden;
}

@media screen and (min-width: 769px) {
  .nav-top-mobile {
    display: none;
  }
}
