.basic-input {
  background-color: var(--Shark);
  border: 1px solid var(--Shark);
  color: white;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  outline: none;
  box-sizing: border-box;
}
.basic-input:hover {
  border: 1px solid var(--Grey);
}

.basic-input:focus {
  border: 1px solid var(--Rose);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--SharkDark) inset;
  border: 1px solid var(--SharkDark);
}

.basic-button {
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: bold;
  font-size: small;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-size: 100% 200%;
  background-image: linear-gradient(
    to bottom,
    var(--Shark) 50%,
    var(--Rose) 50%
  );
  transition: background-position 0.2s ease-in-out, color 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.basic-button:hover {
  background-position: 0 100%;
  color: #fff;
  border-color: var(--Rose);
}
đđđ .notifications-component > .notification-container--top-right {
  top: 80px !important;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}

.enter-animation {
  animation-name: showContent;
  animation-duration: 500ms;
}

.hide-overflow {
  overflow-y: hidden !important;
}

@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
