:root {
    --Rose: #fd0069;
    --RoseSub: #bb004e;
    --Shark: #212127;
    --SharkSub: #24242b;
    --SharkDark: #1b1b1f;
    --SharkDarkSub: #18181d;
    --MainBg: #292930;
    --Grey: #a7a7a7;
    --Gold: #ffc870;
    --Teal: #50C5B7;
}

:root {
    --BiggerScreens: 1100px;
    --MediumScreens: 410px;
}