@use "../../../../styles/variables" as variables;
@use "../../../../styles/transitions" as transitions;
@use "../../../../styles/theme" as theme;

$logo-width: 240px;

.nav-top {
  height: variables.$top-menu-height-mobile;
  width: 100%;
  z-index: 998;
  display: flex;
  flex-direction: row;
  border-radius: 0;
  border-width: 0 0 2px 0;
  background-color: theme.$altBackgroundColor;

  * {
    font-weight: bold;
    letter-spacing: 0.6px;
    color: theme.$textPassive;
  }

  .logo {
    width: $logo-width;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: theme.$altBackgroundColor;

    .img {
      width: 60px;
      border-radius: 10px;
      text-align: center;
    }
  }

  .active {
    color: theme.$textColorLight !important;
    background-color: theme.$backgroundColor !important;
  }

  .content {
    height: 100%;
    width: Calc(100% - $logo-width);
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: theme.$altBackgroundColor;

    .left {
      display: flex;
      flex-direction: row;
      position: relative;
      flex: 3;
      height: 100%;

      .item {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        height: 100%;
        cursor: pointer;
        font-size: large;
        transition: transitions.$default;
        color: theme.$textPassive;
        margin-right: 0.5rem;
        max-width: 200px;

        &:hover {
          background-color: theme.$primaryDark;
          color: white !important;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      flex: 2;
      height: 100%;

      .item {
        padding: 10px;
        display: grid;
        place-items: center;
        font-size: medium;
        transition: transitions.$default;
        margin-right: 5px;
        height: fit-content;
        width: 120px;
        color: theme.$textPassive;
        cursor: pointer;

        &:hover {
          color: theme.$primaryDark !important;
        }
      }

      .user {
        cursor: pointer;
        border-radius: 10px;
        background-color: theme.$altBackgroundColorLight;
        display: flex;
        flex-direction: row;
        width: 150px;
        height: 86%;

        img {
          width: 30px;
          border-radius: 100%;
          text-align: center;
          flex-shrink: 0;
        }

        &:hover .username {
          color: theme.$primaryLight !important;
        }

        .username {
          cursor: pointer;
          text-align: center;
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: variables.$medium-resolution) {
  .nav-top {
    .logo {
      width: calc($logo-width / 2);
    }

    .content {
      width: calc(100% - $logo-width / 2);
    }
  }
}

@media screen and (max-width: variables.$mobile-resolution) {
  .nav-top {
    display: none;
  }
}
