@use "../../styles/variables" as variables;
@use "../../styles/theme" as theme;

.basic-modal {
  .menu {
    display: flex;
    align-items: center;
    margin-top: variables.$s-margin;

    &.vertical {
      flex-direction: column;
    }

    &.horizontal {
      flex-direction: row;
    }

    .item {
      margin: variables.$s-margin;
      flex: 1;
    }
  }

  .content {
    .field-name {
      margin: variables.$s-margin;
      padding: variables.$s-padding;
    }

    .field-input {
    }

    .title {
      color: theme.$Rose;
    }
  }
}
