.basic-input {
    background-color: var(--Shark);
    border: 1px solid var(--Shark);
    color: white;
    border-radius: 5px;
    padding: 10px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    outline: none;
    box-sizing: border-box;
}
    .basic-input:hover {
        border: 1px solid var(--Grey);
    }

    .basic-input:focus {
        border: 1px solid var(--Rose);
    }

.basic-button {
    color: white;
    padding: 10px;
    letter-spacing: 1px;
    border-radius: 5px;
    font-weight: bold;
    display: grid;
    place-items: center;
    cursor: pointer;
    background-size: 100% 200%; 
    background-image: linear-gradient(to bottom, var(--Shark) 50%, var(--Rose) 50%);
    transition: 
      background-position .2s ease-in-out, 
      color .2s ease-in-out,
      transform .2s ease-in-out;
}

    .basic-button:hover {
        background-position: 0 100%;
        color: #fff;
        border-color: var(--Rose);
    }