.interface__wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.main__wrapper {
    width: Calc(100vw - 250px);
    position: absolute;
    left: 250px;
    top: 100px;
    height: Calc(100% - 100px);
    overflow: hidden;
    transition: 1s ease-in-out;
    z-index: 10;
}

